<html>

<head>
    <title>ChatApp</title>
    <link rel='icon' href="img/favicon.png">
    <link rel='stylesheet' href='css/styles.css' type="text/css" />
    <base href="/">
</head>

<body>



    <div class='schat'>{{#each this}}

        <div> {{username}} : {{message}}</div>
        {{/each}}
    </div>
</body>

</html>