<html>

<head>
    <title>ChatApp</title>
    <link rel='icon' href="img/favicon.png">
    <link rel='stylesheet' href='css/styles.css' type="text/css" />
    <base href="/">
</head>

<body>

<h2 class="tit">ChatPad</h2>

    <div class='schat'>{{#each this}}
        {{#if message}}
        <div class='message'>
        <span class='message__name'>{{username}}</span>
         <p class='message_data'>{{message}}</p>
       
        </div>
        {{/if}}
        {{/each}}
    </div> 
</body>

</html>