<html>
    <head>
        <title>ChatApp</title>
        <link rel='icon' href="img/favicon.png">
        <link rel='stylesheet' href="css/styles.min.css"/>
    </head>
    <body>

     <p>this is paragraph {{user}}</p>

    </body> 
</html>  
       