body{
background:#333744;
}
#input{
    position: absolute;
    left: 400px;
     top: 40px;
     width: 600px;
     height: 50px;
     display: block;
     transition: 0.2s;
     font-size: 1rem;
     color: gray;
 }
 .chat{
    background-color: #F7F7FA;
    max-height: 350px;
    display: flex;
    overflow-y: scroll;
  
    border: 1px solid white;
    padding: 20px;
    position: absolute;
  left: 400px;
  top: 150px;
  width: 720px;
}
 .message
{
    color:white;
    background: #7C5CBF;
    border-radius: 4px;
    border:1px solid white;
    text-shadow: 0 1px 1px rgba(3, 3, 3, 0.2);
 width: auto;
 border-radius: 10px;
 padding: 10px;
 margin: 15px 0;
}
#btn{

    position: absolute;
   left: 1000px;
    top: 40px;
    width: 60px;
    height: 50px;
    color:white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: #593d9494
}
#send-location{
    position: absolute;
    left: 1080px;
     top: 40px;
     width: 60px;
     height: 50px;
     color:white;
     border-radius: 1px;
     text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
     background: #7c5cbf94  
}
.message__name{
    color: black;
    font-family:Courier New, monospace;
}
.message__meta{
    color: #333744;
}
.message_data{
    color: white;
    font-family:Courier New, monospace;
}
.schat{
    background-color: white;
    padding: 20px;
display: flex;
flex-direction: column;
max-height: 300px;
overflow-y: scroll;
color: chartreuse;
border: 1px solid white;
position: absolute;
left: 400px;
top: 150px;
width: 720px;
}
.tit{
    font-family: cursive;
    color: white;
    left: 400px;
    position: absolute;
left: 400px;
font-size: 50px;
}